body{
    background: rgb(20,28,245);
    background: linear-gradient(0deg, rgba(20,28,245,1) 0%, rgba(149,151,242,1) 42%, rgba(169,203,223,0.992462311557789) 100%); 
}
.divDescricao {  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.botaoEnviar{
    cursor: pointer;
    border-radius: 20PX;
    font-size: medium;
    font-weight: bold;
    opacity: 0.7;
    width: 40%;
    aspect-ratio: 3/1;
}
.botaoEnviar:hover{
    background-color: rgb(22, 141, 85);
    opacity: 1;
    transition: height 0.7s;
        opacity: 1;
    border-color: rgb(15, 88, 0);
    border-style: solid;
    border-width: 2px;
    
}

.divBotao{
    margin: 0 auto;
    text-align: center;

}

select, .descInterruptores{
    width: 20%;
    aspect-ratio: 2/1;
    
    margin: 0 auto;
    margin-bottom: 3px;
    margin-top: 3px;
    
    text-align: center;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.textoCenter{
    background-color: rgb(110, 130, 131);
    margin: 0 auto;
    text-align: center;
}

.divInterruptores {  
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.divSalas {  
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.sala{
    width: 30%;
    aspect-ratio: 3/1;
    margin: 0 auto;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.interruptor{
    width: 30%;
    aspect-ratio: 3/1;
    margin: 0 auto;
    background-color: red;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    transition: 0.3s;
    opacity: 0.7;
}

.interruptor:hover{
    background-color: rgb(0, 87, 22);
    opacity: 1;
}
#sala1{
    background-color: lightcoral;
}

#sala2{
    background-color: lightseagreen;
}
#sala3{
    background-color: limegreen;
}

.sala{
    transition: 0.3s;
    opacity: 0.7;
}

.sala:hover{
    opacity: 1;
}